################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin/Debug/net7.0
/ClientApp/node_modules
/ClientApp/.env.development.local
/ClientApp/package.json
/ClientApp/package-lock.json
